:root {
    --font: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    transition: all .2s ease;
}

::selection {
    background: #2D6AFF;
    color: #fff;
}
  
  ::-moz-selection {
    background: #2D6AFF;
    color: #fff;
}

body {
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

body.light-mode {
    background-color: #fff;
    color: #111;
    color-scheme: light;
}

body.dark-mode {
    background-color: #181818;
    color: #DBDBDB;
    color-scheme: dark;
}

a {
    color: #2D6AFF;
}

h2 {
    margin-top: 0px;
    color: #111;
}

h3 {
    margin: 0;
}

.container {
    display: none;
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 220px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25px;
    bottom: 20px;
    left: 20px;
    transition: all 300ms linear;
    z-index: 999999 !important;
}

#sidebar.active {
    display: flex;
    left: 0px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    z-index: 999;
    cursor: pointer;
}

#overlay.active {
    visibility: visible;
}

.logo {
    display: flex;
    width: fit-content;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    gap: 3px;
    color: #2D6AFF;
    cursor: pointer;
}

#logo {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2D6AFF;
}

#notes-list {
    margin-bottom: 20px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #111;
    overflow-y: hidden;
    overflow-x: hidden;
}

#sidebar ul:hover {
    overflow-y: auto !important;
}

#sidebar.light-mode ul::-webkit-scrollbar {
    width: 6px !important;
    border-radius: 360px;
}

#sidebar.light-mode ul::-webkit-scrollbar-thumb {
    background: #ccc !important;
    border-radius: 360px;
}

#sidebar.light-mode ul::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.08) !important;
    border-radius: 360px;
}

#sidebar.dark-mode ul::-webkit-scrollbar {
    width: 6px !important;
    border-radius: 360px;
}

#sidebar.dark-mode ul::-webkit-scrollbar-thumb {
    background: #444 !important;
    border-radius: 360px;
}

#sidebar.dark-mode ul::-webkit-scrollbar-track {
    background: #222 !important;
    border-radius: 360px;
}

#sidebar li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

#sidebar li.light-mode {
    background-color: #fff;
    color: #111;
}

#sidebar li.dark-mode {
    background-color: #181818;
    color: #DBDBDB;
}

#sidebar li:hover {
    padding-left: 10px;
}

#sidebar li.light-mode:hover {
    border-color: #d5d5d5;
}

#sidebar li.dark-mode:hover {
    border-color: #555;
}

.selected-note {
    font-weight: bold;
    border-radius: 4px;
    padding-left: 10px !important;
    border-left: 4px solid #2D6AFF !important;
    background-color: #f5f5f5;
    color: #111;
}

.selected-note.light-mode {
    background-color: #f5f5f5 !important;
    color: #111;
}

.selected-note.dark-mode {
    background-color: #383838 !important;
}

.content {
    width: 860px;
    padding: 30px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

#note-details {
    padding-bottom: 25px;
}

#note-details input {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    border: 0;
    outline: 0;
}

#note-details.light-mode input {
    color: #111;
    background-color: #fff;
}

#note-details.dark-mode input {
    background-color: #181818;
    color: #DBDBDB;
}

.hidden {
    display: none;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#note-body {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    outline: 0;
    line-height: 1.5;
    border-radius: 4px;
    padding: 15px;
    min-height: 500px;
}

#note-body.light-mode {
    border: 1px solid #d5d5d5;
}

#note-body.dark-mode {
    border: 1px solid #404040;
}

#note-body p {
    margin: 0 !important;
}

#note-body img {
    max-width: 100%;
    height: auto;
}

#note-body ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
}

.note-actions {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

.note-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 360px;
}

.note-actions button.light-mode {
    background-color: #fff;
    color: #555;
}

.note-actions button.dark-mode {
    background-color: transparent;
    color: #999;
}

.note-actions button.light-mode:hover {
    background-color: #ebebeb;
}

.note-actions button.dark-mode:hover {
    background-color: #383838;
}

#menu {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 360px;
    position: absolute;
    top: 15px;
    right: 50px;
}

#menu.light-mode {
    color: #555;
    background-color: #fff;
}

#menu.dark-mode {
    color: #999;
    background-color: transparent;
}

#menu.light-mode:hover {
    background-color: #ebebeb;
}

#menu.dark-mode:hover {
    background-color: #383838;
}

#dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 360px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#dark-mode.light-mode {
    color: #555;
    background-color: #fff;
}

#dark-mode.dark-mode {
    color: #999;
    background-color: transparent;
}

#dark-mode.light-mode:hover {
    background-color: #ebebeb;
}

#dark-mode.dark-mode:hover {
    background-color: #383838;
}

#home {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #111;
}

.insertToDo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
    margin-bottom: 20px;
}

.insertToDo input {
    width: 88%;
    font-family: var(--font);
    font-size: 13px;
    border: none;
    outline: none;
    padding: 5px;
}

.insertToDo.light-mode input:focus, .insertToDo.dark-mode input:focus {
    border-color: #2D6AFF;
}

.insertToDo.light-mode input:focus::placeholder, .insertToDo.dark-mode input:focus::placeholder {
    color: transparent;
}

.insertToDo.light-mode input {
    border-bottom: 2px solid #DDD;
}

.insertToDo.dark-mode input {
    background-color: #181818;
    border-bottom: 2px solid #555;
}

#to-do {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.to-do {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 4px;
}

.to-do.light-mode {
    background-color: #f5f5f5;
    color: #333;
}

.to-do.dark-mode {
    background-color:  #383838;
    color: #777;
}

.to-do input {
    width: 100%;
    font-family: var(--font);
    border: 1px solid #000;
    outline: none;
}

.dragIcon {
    cursor: grab;
}

.faded {
    opacity: 0.5;
}

.deleteToDo {
    cursor: pointer;
}

.deleteToDo:hover {
    color: #13CE66;
}

#marcar-todos {
    display: none;
    width: fit-content;
    font-size: 13px;
    margin-bottom: 50px;
    color: #13CE66;
    align-self: flex-end;
    cursor: pointer;
}

#marcar-todos.dark-mode {
    filter: brightness(0.6);
}

#text-editor {
    width: 100%;
    font-family: var(--font);
    font-size: 14px;
    outline: 0;
    line-height: 1.5;
    border-radius: 4px;
    padding: 15px;
    height: 400px;
    min-height: 100px;
    cursor: auto;
    resize: none;
    margin-bottom: 50px;
    resize: vertical;
}

#text-editor.light-mode {
    border: 1px solid #d5d5d5;
    background-color: #fff;
}

#text-editor.dark-mode {
    border: 1px solid #404040;
    background-color: transparent;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 9999999;
}

.popup-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-family: var(--font);
    font-size: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #111;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    color: #555;
    background-color: #fff;
}

.popup-content .confirma {
    background-color: #F44336;
    color: #fff;
}

.popup-content .cancela:hover {
    background-color: #F0F0F0;
}

.popup-content .confirma:hover {
    background-color: #d1392e;
}

.popup.hidden {
    display: none;
}

.popup-content .inserir {
    background-color: #2D6AFF;
    color: #fff;
    margin-right: 10px;
}

.popup:not(.hidden) {
    visibility: visible;
}
  
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    color: #D5D5D5;
    display: block; /* For Firefox */
}

@media screen and (max-width: 1260px) {
    .insertToDo {
        margin-top: 30px;
    }

    #sidebar {
        left: -250px;
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 20px;
        top: 0;
        bottom: 0;
        transition: all 300ms linear;
        box-shadow: 3px 0px 10px -1px rgba(0,0,0,0.16);
        z-index: 999;
    }

    #sidebar.light-mode {
        background-color: #fff;
    }

    #sidebar.dark-mode {
        background-color: #181818;
    }

    #sidebar ul {
        overflow-y: auto;
    }

    #dark-mode {
    top: 15px;
    right: 20px;
    }
    
    #menu {
        display: flex;
    }

    .title {
        flex-direction: column;
        align-items: start;
    }

    .content {
        width: 100%;
        padding: 18px;
    }

    #note-details {
        width: 100%;
        }

    #note-details input {
    font-size: 18px;
    }
}
